@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: 'Open Sans', sans-serif;
}


.elementCenter {
  @apply flex justify-center items-center;
}
.elementBetween {
  @apply flex justify-between items-center;
}


@layer base {
  .container {
    @apply  mx-auto transition-all duration-300 ease-in-out;
  }
}


.transition {
  @apply transition-all duration-300 ease-in-out;
}
.centerAbsoluteElement {
  @apply top-[80px] left-1/2 -translate-x-1/2 ;
}



.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid #ccc;
  margin: 0 10px;
}



.input {
  @apply w-full px-2 py-[5px] border rounded-md focus:outline-none border-gray-500 font-semibold ;
}
.label {
  @apply mb-1 text-gray-600 font-semibold;
}

.loginBtn {
  @apply bg-blue-500 text-white py-2 px-5 rounded-md hover:bg-blue-600 transition;
}
.registerBtn {
  @apply  text-blue-500 hover:text-blue-600 text-[18px] font-medium transition;
}

.hero {
  background-image: linear-gradient(to right, #06014b, #0b0654, #120a5d, #190f67, #1f1370); 
  width: 100%;
  height: calc(100vh - 80px);
}

.swiper-pagination .swiper-pagination-bullet {
  @apply bg-white size-[10px]
}

.swiper-pagination .swiper-pagination-bullet-active {
  @apply bg-blue-600
}


.upDown {
  animation: upDown 3s ease-in-out infinite;
}

@keyframes upDown {
  0%{
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}